@import "../../../breakpoints.scss";

.ourprocesshero-container {
  padding-block-start: 50px;
  padding-block-end: 40px;
  .ourprocesshero-content {
    display: grid;
    grid-template-columns: 1fr;

    @include lg {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
    .ourprocesshero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      padding-block-start: 80px;

      @include lg {
        align-items: flex-start;
        justify-content: space-between;
        padding-block-start: unset;
      }
      p {
        font-weight: 500;
        @include md {
          font-size: 1.1rem;
        }
      }
      h1 {
        @include md {
          font-size: 1.5rem;
        }
      }
      .custom-button {
        padding-inline: 40px;
        padding-block: 20px;
        margin: auto;
        margin-block-end: 30px;
        font-weight: bold;

        @include lg {
          margin: unset;
        }
      }
      span {
        a {
          color: var(--color);
          text-decoration: none;
        }
      }
    }
    .ourprocesshero-img-container {
      .ourprocesshero-img-content {
        position: relative;
        width: fit-content;
        margin: auto;
        .ourprocesshero-img {
          position: relative;
          width: 100%;
          height: auto;
          max-width: 300px;

          @include md {
            max-width: 400px;
          }
        }
        .dotgrid-container {
          position: absolute;
          z-index: -1;
          top: -5%;
          left: -10%;
          img {
            height: 350px;
          }
        }
        .round-circles {
          position: absolute;
          bottom: -10%;
          left: 10%;

          width: 300px;
          height: 300px;
          transform: rotate(11deg);
          z-index: -1;
          .big-purple {
            width: 300px;
            height: 300px;
            position: absolute;
            top: -20px;
            right: -20px;
            background-color: red;
            border-radius: 50%;
            z-index: -1;
          }
          .small-pink {
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-color: violet;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
