@import "../../../breakpoints";

.aboutviralhive-page {
  section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    padding-block-end: 10px;
    margin-block-end: 10px;
  }
  .pageheader-container {
    .pageheader-content * {
      text-align: left;
    }
  }

  .description-section {
    margin-block: 80px;
    h2 {
      font-size: 2.4rem;
      font-weight: 500;
      text-transform: capitalize;
      padding-inline-end: 50px;
    }
    p {
      margin-block: 30px;
      font-size: 1.2rem;
    }
  }

  .our-story {
    margin-block-start: 40px;
    h2 {
      text-transform: uppercase;
      font-size: 0.9rem;
    }
    .our-story-section {
      margin-block-start: 20px;
      > div {
        margin-block-start: 30px;

        h3 {
          font-size: 2rem;
          font-weight: 400;
          padding-block: 20px;
          text-transform: capitalize;
        }
        p {
          font-size: 1.25rem;
          line-height: 1.4;
          font-weight: 200;
          margin-bottom: 20px;
        }
      }
    }
  }

  .our-values {
    margin-block-start: 50px;
    h2 {
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 400;
    }

    .our-values-section {
      > div {
        margin-block: 30px;
        h3 {
          text-transform: capitalize;
          font-size: 2rem;
          font-weight: 400;
          color: var(--violet);
          margin-block-end: 20px;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.4;
        }
      }
    }
  }

  .the-team {
    header {
      margin-block: 20px;
      h2 {
        font-size: 2.3rem;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

    .team-member {
      margin-block: 50px;
      .team-member-brief {
        .team-member-pic {
          img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
          }
        }
        .team-member-info {
          display: flex;
          h3 {
            font-weight: 400;
            span {
              font-weight: 600;
            }
          }
        }
      }

      .team-member-bio {
        margin-block: 20px;
        p {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.4;
        }
      }
    }
  }
}

.blank-cta-card {
  .blank-cta-content {
    background-color: var(--blue-violet);
    padding-inline: 30px;
    padding-block: 40px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;

    @include lg {
      padding: 5rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
    button {
      font-weight: 600;
    }
  }
}
