:root {
    --background: #00161f;
    --charcoal: #33454c;
    --white: white;
    --light-grey: #e1e4e8;
    --violet: #ff68f9;
    --blue-violet: #8941ff;
    --dark-purple: #2e0079;
    --neutral-mid: #00161f;
    --dark-grey: #a9a6af;
    --test: var(--charcoal);
    --color: #e241dc;
    --button-hover: var(--violet);
}