@import "../../../breakpoints.scss";

.promo-container {
  position: relative;
  padding-block: 40px;
  margin-block: 100px;
  @include lg {
    margin-block: 100px;
  }
  .promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .promo-images-container {
      img {
        width: 100%;
        &:nth-child(1) {
          display: none;
          @include lg {
            display: block;
          }
        }
        &:nth-child(2) {
          @include lg {
            display: none;
          }
        }
      }
    }
    h1 {
      font-weight: 500;
      font-size: 2rem;
      line-height: 120%;
      text-align: center;
      @include md {
        font-size: 3rem;
      }

      span {
        color: var(--blue-violet);
      }
      .first-break {
        display: inline;
        @include md {
          display: none;
        }
      }
      .second-break {
        display: none;
        @include md {
          display: inline;
        }
      }
    }
  }
}
