@import "../../../breakpoints";

:root {
  --animation-function: 0.3s ease-in-out;
}

.hamburger-menu-icon {
  --hamburger-bar-width: 35px;
  --hamburger-bar-height: 4px;
  --hamburger-gap: 5px;
  --hamburger-menu-total-height: calc(
    var(--hamburger-bar-height) * 3 + var(--hamburger-gap) * 2
  );

  position: relative;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--hamburger-gap);

  .hamburger-icon-bar {
    width: var(--hamburger-bar-width);
    height: var(--hamburger-bar-height);
    background-color: var(--dark-purple);
    border-radius: 3px;
    position: relative;

    opacity: 1;

    transition: rotate var(--animation-function),
      translate var(--animation-function), width var(--animation-function),
      opacity var(--animation-function);
    transform-origin: left center;
  }

  @include lg {
    display: none;
  }
}

.hamburger-active {
  .hamburger-icon-bar {
  }
  .hamburger-icon-bar:nth-child(1) {
    translate: 0 calc(var(--hamburger-bar-height) / -2);
    rotate: 45deg;
    width: calc(var(--hamburger-menu-total-height) * 1.41421356237);
  }
  .hamburger-icon-bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon-bar:nth-child(3) {
    translate: 0 calc(var(--hamburger-bar-height) / 2);
    rotate: -45deg;
    width: calc(var(--hamburger-menu-total-height) * 1.41421356237);
  }
}
