@import "../../../breakpoints.scss";

.cta-container {
  position: relative;
  padding-block: 10px;
  @include md {
    margin-block: 70px;
  }
  .cta-content {
    position: relative;
    width: 80%;
    margin: auto;
    background-color: var(--dark-purple);
    padding-block: 40px;
    border-radius: 10px;
    .cta-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      h2 {
        font-size: 2.1rem;
        text-align: center;
        @include lg {
          font-size: 3rem;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include lg {
          flex-direction: row;
          padding-inline: 10px;
          justify-content: space-around;
        }

        button {
          width: 80%;
          margin: auto;
          &:nth-child(2) {
            background-color: var(--blue-violet);
          }
          &:nth-child(3) {
            color: var(--blue-violet);
            background-color: var(--white);
          }
          @include lg {
            width: fit-content;
          }
        }
      }
    }
    .dotgrid-container {
      position: absolute;
      right: 0px;
      top: 0px;
      transform: translateY(-10%);
      height: 400px;
      z-index: -1;
      opacity: 0.4;
    }
  }
}
