@import "../../../breakpoints.scss";

.hero-container {
  margin-block-start: var(--navbar-height);
  padding-block-start: 50px;
  background-color: inherit;
  .hero-content {
    display: grid;
    grid-template-columns: 1fr;
    @include lg {
      grid-template-columns: 1fr 1fr;
      padding-block-start: 50px;
      grid-column-gap: 50px;
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-block: 40px;

      @include lg {
        align-items: flex-start;
      }

      > h4 {
        color: var(--violet);
        font-family: Epilogue, sans-serif;
        padding-block: 10px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.8rem;

        @include md {
          font-size: 1.2rem;
        }
      }

      > h1 {
        font-family: Plusjakartasans, sans-serif;
        font-weight: 500;
        margin-block: 40px;

        @include md {
          font-size: 3rem;
        }
        @include lg {
          font-size: 3rem;
          margin-block: 20px;
        }
      }
      p {
        color: var(--light-grey);
        margin-bottom: 10px;
        font-family: Plusjakartasans, sans-serif;
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.5;
        @include md {
          font-size: 1.3rem;
        }
        @include lg {
          font-size: 1.4rem;
        }
      }

      .custom-button {
        padding-block: 20px;
        padding-inline: 40px;
        text-transform: capitalize;
        font-size: 1.1rem;
        font-family: Plusjakartasans, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        transition: all 0.2s;
        margin-block-start: 30px;

        @include md {
          padding-block: 20px;
          padding-inline: 40px;
          margin-block: 30px;
        }
        @include lg {
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
    }
    .hero-img-container {
      display: none;
      margin-block: 50px;

      justify-content: center;
      align-items: center;
      margin: auto;

      @include md {
        display: flex;
      }
      @include lg {
        grid-column: 2/3;
      }
      .hero-img-content {
        position: relative;
        width: fit-content;

        .hero-img {
          position: relative;

          aspect-ratio: 1/1.7;
          border-radius: 10px;
          z-index: 2;
          height: 360px;
          flex-grow: 1;
          @include lg {
            height: 600px;
          }
        }
        .dotgrid-container {
          position: absolute;
          z-index: 1;
          top: -5%;
          left: -20%;
          height: 300px;
          img {
            height: 100%;
          }
        }
        .round-circles {
          position: absolute;
          bottom: -10%;
          right: 0;
          z-index: 1;
          width: 170px;
          height: 300px;
          transform: rotate(11deg);
          .big-purple {
            width: 200px;
            height: 200px;
            position: absolute;
            top: -20px;
            right: -20px;
            background-color: red;
            border-radius: 50%;
          }
          .small-pink {
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-color: violet;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
