@import "../../../breakpoints.scss";

.footer-container {
  position: relative;
  margin-block-start: 50px;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    height: 1px;
    width: 90vw;
    background-color: var(--white);
    opacity: 0.2;
  }
  .footer-content {
    padding-block: 30px;

    .links-row {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 30px;
      padding-block-start: 20px;

      @include md {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px;
      }
      > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: fit-content;
        &:nth-child(2) {
          @include md {
            justify-self: center;
          }
        }
        &:nth-child(3) {
          @include md {
            justify-self: end;
          }
        }
        * {
          display: block;
        }
        > span {
          font-weight: 600;
          font-size: 1rem;
          text-transform: capitalize;
        }
        a {
          text-decoration: none;
          color: unset;
          text-transform: capitalize;
          font-size: 0.8rem;
        }
      }

      .newsletter {
        @include md {
          grid-column: 2/4;
          width: unset;
        }
        form {
          @include md {
            display: grid;
            grid-template-areas: 1fr 1fr 1fr 1fr 1fr;
          }
          input {
            height: 40px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid var(--white);
            color: var(--white);
            text-transform: capitalize;
            margin-block-end: 20px;
            @include md {
              grid-column: 1/5;
              margin-block-end: unset;
              margin-inline-end: 20px;
            }
          }
          .custom-button {
            width: 100%;
            @include md {
              grid-column: 5/6;
            }
          }
        }
      }
    }

    .last-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-block-start: 40px;

      @include lg {
        flex-direction: row;
        align-items: center;
      }
      .social-icons {
        width: fit-content;
        a {
          margin-inline: 5px;
          display: inline-block;
          width: fit-content;
          height: fit-content;
          svg {
            width: 30px;
            height: 30px;

            * {
              color: var(--color);
              fill: var(--color);
            }
          }
        }
      }
      .policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block-start: 50px;
        gap: 10px;

        @include lg {
          flex-direction: row;
          padding-block-start: 10px;
          gap: 20px;
        }
        a,
        p {
          font-size: 0.8rem;
          color: var(--charcoal);
          text-align: center;
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: unset;
  }
}
