@import "../../../breakpoints.scss";

.blankimagetext {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-block: 20px;
  justify-items: center;

  @include lg {
    grid-template-columns: 1fr 1fr;
  }
  div {
    width: fit-content;
  }
  .text-section {
    display: flex;

    align-items: center;
    justify-items: center;

    h1 {
      font-weight: 400;
    }
  }
  .media-section {
    img {
      width: 100%;
      height: auto;
      max-width: 500px;
    }
  }
}

@include lg {
  .reverse {
    .text-section {
      order: 1;
    }
    .media-section {
      order: 2;
    }
  }
}
