@import "../../../breakpoints.scss";

.howitworkscreators-page {
  .blank-cta-card {
    .blank-cta-content {
      background-color: var(--blue-violet);
      padding-inline: 30px;
      padding-block: 40px;
      border-radius: 15px;

      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      text-align: center;

      @include lg {
        padding: 5rem;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
      }
      button {
        font-weight: 600;
      }
    }
  }

  .viralhive-info {
    margin-block: 30px;
    padding-block: 50px;
    .viralhive-info-content {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 30px;

      @include md {
        grid-template-columns: 1fr 1fr;
        row-gap: unset;
      }

      .heading {
        h2 {
          font-size: 2.5rem;
          font-weight: 300;
        }
      }

      .info-list {
        display: flex;
        padding-inline-start: 20px;
        flex-direction: column;
        gap: 40px;

        .info-item {
          h4 {
            font-weight: 200;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .simple-review-card {
    .simple-review-card-content {
      background-color: var(--blue-violet);
      border-radius: 15px;
      padding-block: 50px;
      padding-inline: 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;

      p {
        font-size: 1.3rem;
        text-align: center;
      }

      span {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }

  .viralhive-offers {
    margin-block: 40px;
    padding-block: 50px;

    .viralhive-offers-content {
      display: grid;
      grid-template-columns: 1fr;

      @include md {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
      }

      .left-section,
      .right-section {
        margin-block-start: 50px;
        h1 {
          font-size: 2.3rem;
          font-weight: 400;
          text-transform: capitalize;
        }

        ul {
          list-style-type: none;
          margin-block: 50px;
          li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.18);
            text-align: center;
            padding-block: 25px;
            margin-block-end: 10px;

            img {
              display: none;
            }
          }
        }
      }
    }
  }

  .about-viralhive {
    margin-block-start: 80px;
    .about-viralhive-content {
      .heading {
        margin-block: 40px;
        h2 {
          font-size: 2.5rem;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }

    .text {
      p {
        margin-block: 30px;
        line-height: 1.6;
        font-size: 1.2rem;
      }
    }
  }

  .why-viralhive {
    margin-block: 80px;
    .why-viralhive-content {
      border-radius: 15px;
      background-color: var(--blue-violet);
      padding-inline: 2rem;
      padding-block: 5rem;
      h1 {
        text-align: center;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        list-style-type: none;
        margin-block-start: 30px;

        @include md {
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
        }

        @include lg {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        li {
          padding-block: 20px;
          font-size: 1.3rem;
        }
      }
    }
  }

  .how-results {
    margin-block: 80px;
    .how-results-content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 2rem;
          font-weight: 400;
          text-transform: capitalize;
          text-align: center;
        }
        p {
          text-align: center;
        }
      }

      ul {
        list-style-type: none;
        li {
          border-bottom: 1px solid rgba(255, 255, 255, 0.18);
          display: flex;
          align-items: center;
          gap: 40px;
          padding-block: 25px;
          margin-block-end: 10px;

          .round-number {
            background-color: var(--violet);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .blank-creators-cta {
    .blank-creators-cta-content {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      background-color: var(--blue-violet);
      border-radius: 15px;

      h1,
      p,
      button {
        text-transform: capitalize;
      }
    }
  }
}
